font-family: "Times New Roman", Times, serif;
            margin: 20px;
        }
        h1 {
            font-size: 2.5em;
        }
        input[type="number"] {
            width: 100px;
            padding: 2px;
        }
        button {
            padding: 3px 8px;
            cursor: pointer;
        }
        div#resultado {
            margin-top: 20px;
            font-size: 1.1em;
        }